.title_cards {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title_cards h2 {
  margin-bottom: 8px;
  color: rgb(222, 27, 27);
  /* text-align: center; */
}

.card_list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card_list::-webkit-scrollbar {
  display: none;
}

.card_list img {
  width: 250px;
  height: 180px;
  border-radius: 4px;
  cursor: pointer;
}

.card_list .card {
  position: relative;
}

.card_list .card p {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  .title_cards {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .title_cards h2 {
    font-size: 20px;
  }
  .card_list img {
    width: 200px;
  }
  .card_list p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .title_cards h2 {
    font-size: 15px;
  }
  .card_list img {
    width: 165px;
  }
  .card_list p {
    font-size: 10px;
  }
}
